/* All styles for your Card Components live here */

/* Card container holds my card banner and card content */

.card-container {

}

.card-banner-image {
    width: 520px; 
    height: 280px; 
}

a {
    text-decoration: none; 
    color: black; 
}