/* All styles for your header Components live here */

/* Header container wraps around Image thumbnail, header title and header content  */
.header-container {
    max-width: 100%; 
    height: auto; 
    display: flex; 
}

.image-thumbnail {
    width: 50px; 
    height: 50px;   
    padding-top: 2%; 
    padding-right: 1%; 
}

.header-text {
    display: flex; 
    flex-direction: row; 
    align-items: baseline; 
}

.header-title {
    padding-right: 1%; 
}

.lambda-handle {
    padding-right: 1%; 
    color: grey; 
}

.timestamp {
    color: grey; 
    padding-left: 1%; 
}

.header-content {
    /* display: flex;  */
    /* flex-direction: column;  */
}