.button-container {
    height: 416px; 
}

.action-button {
    width: 300px; 
    height: 70px; 
    background-color: white; 
    border: 2px solid gray; 
}

.button-text {
    color: black; 
    text-align: center; 
    font-size: 16px; 
}

.numbers-container {
    height: 278px; 
    width: 300px; 
    background-color: white; 
    display: flex; 
    flex-wrap: wrap;
}

.number-button {
    width: 100px; 
    height: 93px; 
    border: 1px solid grey; 
    /* margin: 10px;  */
    text-align: center; 
    padding-top: 5%; 
    font-size: 50px; 
}

.operators-container {
    align-self: right; 
    width: 96px; 
    background-color: maroon; 
}

.operator-box {
    height: 84px; 
    border: 1px solid grey; 
    color: white; 
    text-align: center; 
    font-size: 50px; 
}